* Botones de navegación en la barra superior */
.nav-buttons {
  display: flex;
  gap: 0.5rem; /* Reducir el espacio entre los botones */
}

.nav-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.25rem; /* Reducir el tamaño de los íconos */
  cursor: pointer;
  display: flex; /* Flexbox para centrar la imagen dentro del botón */
  align-items: center; /* Centrar la imagen verticalmente */
  justify-content: center; /* Centrar la imagen horizontalmente */
  width: 2.5rem; /* Ancho del botón */
  height: 2.5rem; /* Altura del botón */
}

.nav-btn img {
  width: 100%; /* La imagen ocupa el 100% del botón */
  height: 100%; /* La imagen ocupa el 100% del botón */
  object-fit: contain; /* Mantiene la proporción de la imagen */
  border-radius: 100%;
}
