/* Barra de navegación superior */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc9920;
    padding: 0.625rem 1.25rem; /* Reducir el padding superior e inferior */
    color: white;
    position: sticky; /* Hacer que la barra superior sea siempre visible */
    top: 0;
    z-index: 1000; /* Asegurarnos de que esté por encima del contenido */
  }
  
  /* Estilo para el logo (cambia con el tamaño de pantalla) */
  .logo-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
  }
  
  .logo-img {
    height: 3rem; /* Ajustar la altura del logo */
  }
  
  .icono-img {
    height: 3rem; /* Ajustar la altura del icono */
  }
  
  /* Estilo de la barra de búsqueda */
  .search-container {
    flex-grow: 1;
    margin: 0 1rem; /* Espacio entre el logo y la barra de búsqueda */
  }
  
  .search-input {
    width: 100%;
    padding: 0.375rem; /* Reducir el padding interno */
    border-radius: 0.625rem;
    border: none;
    font-size: 0.875rem; /* Ajustar el tamaño de la fuente */
  }
  
  