$primary: #ff5733; // Naranja
$secondary: #33c4ff; // Azul Claro
$success: #28a745; // Verde
$danger: #dc3545; // Rojo
$warning: #ffc107; // Amarillo
$info: #17a2b8; // Cyan
$light: #f7f7f7; // Gris Claro
$dark: #343a40; // Gris Oscuro

@import "../../node_modules/bootstrap/scss/bootstrap.scss";