/* src/css/RecetaCard.css */
.recipe-img {
    width: 100%;          /* Ocupa todo el ancho del contenedor */
    height: 200px;        /* Altura fija para uniformidad */
    object-fit: cover;    /* Ajusta la imagen para cubrir el espacio, cortando si es necesario */
}

.card {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Para ocultar cualquier desbordamiento de la imagen */
}

/* Fondo de la tarjeta con gradiente */
.card-body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); /* Gradiente de negro a transparente */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 200px; 
}

/* Estilo para el título de la receta */
.card-title {
    max-height: 1.2em; /* Ajusta la altura máxima */
    overflow: hidden;
    text-overflow: ellipsis; /* Muestra puntos suspensivos al final */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

@media (min-width: 375px) and (max-width: 576px) {
    .recipe-grid {
      flex: 0 0 50%; /* Ocupa la mitad del ancho (2 columnas) */
      max-width: 50%;
    }
  }
  