
.recipes-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes-carousel .row {
  display: flex;
  overflow-x: auto; 
  width: 100%;
}

.recipe-carousel-controls {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.recipe-carousel-button {
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  margin: 0 10px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.recipe-carousel-button:disabled {
  background-color: #6c757d; 
  cursor: not-allowed; 
}
