.email-text {
    white-space: nowrap;          
    overflow: hidden;             
    text-overflow: ellipsis;      
  }
  
.user-details img { 
  width: 6rem;
  height: 6rem;
  object-fit: cover;
 }